.wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.daily-cover-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.daily-cover {
  order: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: stretch;
  
}

.container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.button-0 {
  align-self: flex-end;
}

.button-1 {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

.item-0 {
  flex-grow: 1;
  flex-shrink: 0;
}

.container-col-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.col-item-0 {
  margin: 0.5rem;
}

.col-item-1 {
  margin-top: 1rem;
}

.col-item-2 {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.col-item-3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-item-4 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-col-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-item-signup {
  margin: 0.5rem;
  width: 100%;
}

input {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:invalid {
  border: 1px solid red;
}

.search-input {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

/* 
input[type=email] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=username] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
} */

.error {
  color: red;
}

.container-row-0 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-row-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100%;
}

.container-row-4 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
}

.container-row-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.container-row-6 {
  display: flex;
  flex-direction: row;
}

.container-row-photodetail-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.container-row-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.row-item-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.row-item-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10;
}

.row-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.row-item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-item-3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.row-item-5 {
  justify-content: center;
  align-items: center;
}

.row-item-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.container-collection-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}

.item-0-collection-title {
  order: 0;
  flex-grow: 1;
  flex-shrink: 0;
}
.item-1-collection-title {
  align-self: flex-end;
}

.green-icon {
  color:yellowgreen;
}

.red-icon {
  color:crimson;
}

.icon-search {
  font-size: 1rem;
}

.photo-card-btn-icon {
  font-size: 1.5rem;
  margin-top: 10%;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
}

.photodetails-card-btn-like {
  font-size: 1.2rem;
  margin-top: 10%;
  font-weight: light;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  transition: ease 0.2s;
}

.photodetails-card-btn-like:hover {
  background-color: #f1f1f1;
}

.photodetails-card-btn-collect {
  font-size: 1.2rem;
  margin-top: 10%;
  font-weight: light;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  transition: ease 0.2s;
}

.photodetails-card-btn-collect:hover {
  background-color: #f1f1f1;
}

.photodetails-card-btn-download {
  font-size: 1.2rem;
  margin-top: 10%;
  font-weight: light;
  color: white;
  background-color: rgb(61, 131, 61);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  transition: ease 0.2s;
}

.photodetails-card-btn-download:hover {
  background-color: rgb(96, 173, 96);
}

.photodetails-card-btn-item {
  margin: 0.5rem;
}

.margin-right {
  margin-right: 0.4rem;
}

.search-photo-card-btn-icon {
  font-size: 1.5rem;
  margin-top: 5%;
  font-weight: lighter;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
}

.photo-card-btn-icon:hover {
  color: rgb(201, 199, 199);
}

.search-photo-card-btn-icon:hover {
  color: rgb(201, 199, 199);
}

.containter-search-photo-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-photo-card-btn-item1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.search-photo-card-btn-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: #5860699c;
  font-size: 16;
  font-weight: bold;
}

.header {
  color: white;
}

.header-bold {
  font-weight: bold;
}

.header-home {
  font-size: 3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.website-link {
  color: #5860699c;
  font-size: 2rem;
  font-weight: bold;
}

.search-box-font {
  font-size: 70;
}

.header-bold-white {
  font-weight: bold;
  color: white;
}

.jumbotron {
  background-image: url("https://kaboompics.com/cache/7/3/7/1/b/7371b7a8de0b38d8906cdae62a3374526d4109d0.jpeg");
  background-size: cover;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-xl {
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 10px;
  width:50%;
}

.icon-check {
  padding: 10px 20px;
  font-size: 2rem;
  color: cornflowerblue;
  width:50%;
}

.icon-delete {
  padding: 10px 10px;
  font-size: 2rem;
  color: crimson;
  width:50%;
}

.icon-download {
  padding: 10px 10px;
  font-size: 2rem;
  color: white;
  width:50%;
}

.icon-x {
  padding: 10px 20px;
  font-size: 2rem;
  color: crimson;
  width:50%;
}

.cover1 {
  background-image: url('https://png.pngtree.com/png-vector/20190120/ourlarge/pngtree-gallery-vector-icon-png-image_470660.jpg');
  background-size: cover;
}

.container-col-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 20%;
  margin-right: 20%;
}

.container-row-searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.max-height {
  width:100%;
  height:8rem;
  overflow:hidden;
  object-fit: cover;
}

.max-height-100 {
  width:100%;
  height:15rem;
  overflow:hidden;
  object-fit: cover;
}

.max-width {
  width:10%;
  overflow:visible;
}

.licence {
  background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  height: 30rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.container-row-tag {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 5%;
}

.search-box-navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

.search-box-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100;
}

.topnav {
  overflow: visible;
  background-color: white;
}

.topnav2 {
  margin-left: 16px;
  overflow: visible;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
}

.search-button {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-right: 16px;
}

.select-button {
  background-color: white;
  height: 100%;
  border: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  font-size: 25px;
}

.topnav2 input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-right: 16px;
  font-size: 20px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

@media screen and (max-width: 600px) {
  .topnav2 a, .topnav2 input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: transparent;
  margin-bottom: 15px;
}

.photo-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  width:100%;
  height: 100%;
}

.photo-card-btn1 {
  position: absolute;
  text-align: center;
  top: -2rem;
  right: .5rem;
  opacity: 0;
  transition: opacity .5s ease;
}

.photo-card-btn2 {
  position: absolute;
  text-align: center;
  top: -2rem;
  right: 3rem;
  opacity: 0;
  transition: opacity .5s ease;
}

.photo-card-btn3 {
  position: absolute;
  text-align: center;
  top: -2rem;
  right: 5.5rem;
  opacity: 0;
  transition: opacity .5s ease;
}

.photo-card-btn4 {
  position: absolute;
  text-align: center;
  top: -2rem;
  right: 8rem;
  opacity: 0;
  transition: opacity .5s ease;
}

.photo-card:hover .photo-card-btn1 {
  opacity: 1;
}

.photo-card:hover .photo-card-btn2 {
  opacity: 1;
}

.photo-card:hover .photo-card-btn3 {
  opacity: 1;
}

.photo-card:hover .photo-card-btn4 {
  opacity: 1;
}

.photo-card-img {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  width: 8rem;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 8rem;
  background-color: #f9f9f9;
  box-shadow: rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  display: block;
  background-color: white;
  color: black;
  width: 8rem;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(0,0,0,0.2);
}

.footer-subtitle {
  color: white;
  font-size: 20;
  font-weight: bold;
}

.footer a {
  color: rgb(196, 196, 196);
  font-size: 20;
}

.footer a:hover {
  color: rgb(150, 150, 150);
}

.footer-container-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-container {
  background-color: white;
}

.margin-1rem {
  margin: 1rem;
}

.more-photos-btn {
  font-size: 1.2rem;
  margin-top: 10%;
  font-weight: light;
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem 1.5rem;
  transition: ease 0.2s;
}

.more-photos-btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.tag-btn {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: light;
  background-color: white;
  border: 1px solid black;
  padding: 0.2rem 1rem;
  transition: ease 0.2s;
}

.tag-btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
