.photodetails-card-btn-like {
    font-size: 1.3rem;
    margin-top: 10%;
    font-weight: light;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    transition: ease 0.2s;
  }
  
  .photodetails-card-btn-like:hover {
    background-color: #f1f1f1;
  }
  
  .photodetails-card-btn-collect {
    font-size: 1.3rem;
    margin-top: 10%;
    font-weight: light;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    transition: ease 0.2s;
  }
  
  .photodetails-card-btn-collect:hover {
    background-color: #f1f1f1;
  }
  
  .photodetails-card-btn-download {
    font-size: 1.3rem;
    margin-top: 10%;
    font-weight: light;
    color: white;
    background-color: rgb(61, 131, 61);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    transition: ease 0.2s;
  }
  
  .photodetails-card-btn-download:hover {
    background-color: rgb(96, 173, 96);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }

  .photodetails-card-btn-download-disabled {
    font-size: 1.3rem;
    margin-top: 10%;
    font-weight: light;
    color: white;
    background-color: rgba(151, 151, 151, 0.963);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    transition: ease 0.2s;
  }
  
  .photodetails-card-btn-info {
    font-size: 1rem;
    margin-top: 10%;
    font-weight: light;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2rem 1rem;
    transition: ease 0.2s;
  }
  
  .photodetails-card-btn-item {
    margin: 0.5rem;
  }
  
  .photodetails-photo-item {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container-row-primary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 14px;
}

.photo-details-author-name {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  color: black;
  padding-top: 8px;
  font-size: 1rem;
  padding-top: 10px;
  padding: 8px 10px;
}

.photo-details-author-avatar {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 3px;
  margin-left: 10px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.photo-details-date {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  color: #777;
  padding-top: 12px;
  font-size: 0.9rem;
  padding: 8px 10px;
}

.container-photo-title {
  width: 100%;
  max-width: 300px; /* 可根据需要进行调整 */
  margin: 0 auto;
  text-align: left;
}

.photo-title {
  font-size: 24px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-description {
  font-size: 16px;
  text-align: left;
}

.colorbox {
  width: 100px;
  height: 30px;
}

.colorbox-colorname {
  color: white;
  text-align: center;
}

.container-details-title-btn {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.container-details-title-btn > * {
  margin: 0 30px; /* 设置元素间距，如果需要的话 */
}

.container-details-title-btn > :first-child {
  margin-left: 0; /* 如果需要取消第一个元素的左侧间距 */
  width: 300px; 
}

.container-details-title-btn > :last-child {
  margin-right: 0; /* 如果需要取消最后一个元素的右侧间距 */
}